<h3>
  paste the access code below to get your mp3 file
</h3>

<form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)" class = "form">
  code:
  <input
    type = "text"
    [(ngModel)] = "postId"
    name = "text"
    required
  > <br>
  <input type="submit" [disabled]="!form.valid" value="get mp3">
</form>

<div *ngIf = "link">
  <div *ngIf = "status == 'PROCESSING'">
    {{postId}} is still processing. Please try again in a bit.
  </div>
  text: {{text}} <br>
  <audio controls><source src='{{link}}' type='audio/mpeg'></audio>
</div>
