<form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)" class = "form">
  type the text that you want converted below: <br>
  <textarea rows="10" cols="50"
    type = "text"
    [(ngModel)] = "text"
    name = "text"
    placeholder = "type text here"
    autofocus
    required
  ></textarea> <br>
  choose voice: <br>
  <select name="voice" [(ngModel)] = "voice" required>
      <option *ngFor = "let v of voiceOptions" value="{{v.name}}">
        {{v.name}} [{{v.language}}]
      </option>
    </select>
  <br>
  <input type="submit" [disabled]="!form.valid" value="generate mp3">
</form>

<div *ngIf = "postId">
  access code: <br>
  <strong><div id="postId">{{postId}}</div></strong>
  <button (click) = "copy()">copy to clipboard</button>
</div>
